.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background: #D07272;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    
  }
  
  .logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
  }

  .nav {
    margin-left: 720px;
  }
  
  .nav a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 13px;
    padding: 5px 10px;
    border :2px solid transparent;
    transition: all 0.3s ease;
  }
  
  .nav a:hover{
    border: 2px solid #F4E8CF;
    border-radius: 5px;
    background-color: #F4E8CF;
    color: #D07272;
  }