:root {
  background-image: url('../media/background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    scroll-behavior: smooth;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding : 0;
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

section {
  scroll-margin-top: 100px; /* Match your navbar height */
}

/* Ensure responsive background */
@media (max-width: 768px) {
  :root {
    background-size: cover;
    background-position: center;
  }
}
